$color1: #AD0000;
$color2: #f7eff1;
$color3: #36b342 ;
body{
	font-family: 'Noto Sans JP', sans-serif;
}
.main-nav{
	height: 90px;
	background: $color1;
	padding-bottom: 15px;
  .md-main-nav{
  	display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: space-between;
	  align-items: flex-end;
	  .logo{
	  	display: flex;
		  flex-direction: row;
		  flex-wrap: nowrap;
		  align-items: flex-end;
			img{
				
			}
		}
		.md-call{
			background: #fff;
			width: 185px;
			height: 45px;
			.img{
				display: inline-block;
				text-align: center;
				width: 100%;
			}
			.call{
				display: flex;
			  flex-direction: row;
			  flex-wrap: nowrap;
			  justify-content: center;
			  align-items: center;
			  align-content: normal;
			  a{
			  	text-decoration: none;
			  }
			  img{
			  	margin-right: 3px;
			  	padding-top: 3px;
			  }
			  span{
			  	font-size: 18px;
			  	font-weight: 900;
			  	color: #333;
			  	line-height: 18px;
			  }
			}
		}
  }
	
}
.select-section{
	.click{
		position: relative;
		z-index: 2;
		.icon{
			position: absolute;
			top: 22px;
			right: 20px;
			transition: all 0.3s;
		}
		&.show-icon{
			.icon{
				transform: rotate(90deg);
			}
		}
	}
	.drop{
		position: relative;
		z-index: 1;
		margin-top: -8px;
	}
}
.call-section{
	.banner{
		display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: center;
	  align-content: normal;
	  padding: 20px 15px;
	}
}
.home-section-banner{
	position: relative;
}
.md-title{
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  margin-bottom: 30px;
  h3{
  	position: relative;
  	font-style: normal;
		font-weight: 900;
		font-size: 36px;
		line-height: 52px;
		color: #fff;
		&:before{
			position: absolute;
			width: 100px;
			height: 4px;
			background: #fff;
			bottom: -6px;
			left: 50%;
			margin-left: -50px;
			content: "";
		}
  }
}
#store{
	background: #003064;
	padding-top: 30px;
	padding-bottom: 20px;
	.md-store{
		padding: 0 20px;
		display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: space-between;
	  gap: 6%;
	  .item{
	  	width: 47%;
	  	margin-bottom: 30px;
	  	.img{
	  		img{
	  			width: 100%;
	  		}
	  	}
	  	.title{
	  		p{
	  			font-weight: 700;
					font-size: 16px;
					line-height: 23px;
					color: #FFFFFF;
					margin-top: 10px;
					margin-bottom: 5px;
	  		}
	  		.img{
	  			position: relative;
	  			float: left;
	  			width: 100%;
	  			// margin-top: -10px;
	  			&:before{
	  				position: absolute;
	  				top: 0;
	  				left: 0;
	  				background: #fff;
	  				content: "";
	  				width: 100%;
	  				height: 2px;
	  				z-index: 1;
	  			}
	  			img{
	  				width: auto;
	  				position: relative;
	  				z-index: 2;
	  				float: left;
	  			}
	  		}
	  	}
	  }
	}
}
.product{
	background: #F0F0E6;
	padding-top: 30px;
	padding-bottom: 20px;
	.md-title{
		h3{
			color: #003064;
			&:before{
				background: #003064;
			}
		}
	}
	.scroll-product{
		position: relative;
		overflow: hidden;
		overflow-x: scroll;
		width: 100%;
		margin-bottom: 50px;
	}
	.md-product{
		display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
		width: 192%;
		&.for-item{
			width: 258%;
		}
		&.five-item{
			width: 324%;
		}
		.item{
			width: 232px;
			height: 308px;
			margin-right: 25px;
			background-image: url(../images/bg-product.png);
			background-size: cover;
			display: flex;
		  flex-direction: row;
		  flex-wrap: nowrap;
		  justify-content: center;
		  align-items: center;
			.title{
				width: 224px;
				height: 300px;
				padding: 10px 32px;
				h5{
					font-style: normal;
					font-weight: 700;
					font-size: 16px;
					line-height: 23px;
					text-align: center;
					height: 46px;
					color: #333333;
					margin-top: 5px;
					margin-bottom: 15px;
				}
				.img{
					img{
						width: 160px;
						height: 140px;
						object-fit: cover;
					}
				}
				.cat{
					font-size: 16px;
					color: #333;
					text-align: center;
					margin-top: 5px;
					margin-bottom: 5px;
				}
				.price{
					font-style: normal;
					font-weight: 700;
					font-size: 24px;
					line-height: 35px;
					text-align: center;
					color: #CE2323;
				}
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
}
.comment{
	background-image: linear-gradient(#0070A6, #003064);
	padding: 30px 40px;
	margin-bottom: 10px;
	.md-comment{
		.md-title{
			h3{
				text-align: center;
				&:before{
					display: none;
				}
				.dot{
					position: absolute;
					width: 10px;
					height: 10px;
					bottom: 45px;
    			right: 13px;
				}
				.dot2{
					position: absolute;
					width: 10px;
					height: 10px;
					bottom: 45px;
    			right: 50px;
				}
				.bg{
					background: linear-gradient(91.35deg, #F1DB00 28.7%, #FFBC00 51.02%, #FFFFB1 76.17%, #FFBB00 99.56%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
				}
			}
		}
		.main-comment{
			.item{
				.tt{
					position: relative;
					padding-left: 12px;
					display: flex;
				  flex-direction: row;
				  flex-wrap: nowrap;
				  justify-content: normal;
				  align-items: flex-end;
				  .ct{
				  	color: #fff;
				  	font-style: normal;
						font-weight: 700;
						font-size: 24px;
						line-height: 40px;
				  }
				  .cp{
				  	font-style: normal;
						font-weight: 700;
						font-size: 36px;
						line-height: 52px;
						letter-spacing: 0.02em;
						background: linear-gradient(91.35deg, #F1DB00 28.7%, #FFBC00 51.02%, #FFFFB1 76.17%, #FFBB00 99.56%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						text-fill-color: transparent;
				  }
				  .nb{
				  	font-style: normal;
						font-weight: 700;
						font-size: 36px;
						line-height: 52px;
						letter-spacing: 0.02em;
						position: absolute;
						color: #FFFFFF;
						top: 0px;
						left: -22px;
						&:before{

						}
				  }
				}
				.item-ct{
					p{
						font-style: normal;
						font-size: 16px;
						line-height: 28px;
						/* or 175% */
						margin-top: 10px;
						color: #FFFFFF;
						padding-right: 10px;
						span{
							position: relative;
							display: inline-block;
							&:before{
								background: linear-gradient(91.35deg, #F1DB00 28.7%, #FFBC00 51.02%, #FFFFB1 76.17%, #FFBB00 99.56%);
								width: 100%;
								height: 2px;
								left: 0;
								bottom: 0;
								content: "";
								position: absolute;
							}
						}
					}
				}
			}
		}
		.comments{
			margin-left: -10px;
			margin-right: -10px;
			.item{
				margin-bottom: 20px;
				.ct{
					background: #fff;
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 28px;
					/* or 175% */
					padding: 18px;
					border-radius: 30px;
					color: #333333;
					margin-bottom: 25px;
					position: relative;
					&:before{
						background-image: url(../images/arrow-down.png);
						position: absolute;
						width: 33px;
						height: 20px;
						content: "";
						bottom: -19px;
    				left: 55px;
					}
				}
				.avatar{
					span{
						margin-left: 15px;
						font-style: normal;
						font-weight: 700;
						font-size: 16px;
						line-height: 28px;
						/* identical to box height, or 175% */

						color: #FFFFFF;
					}
				}
				&.v2{
					.ct{
						&:before{
						background-image: url(../images/arrow-down-2.png);
						position: absolute;
						width: 33px;
				    height: 26px;
				    content: "";
				    bottom: -25px;
				    right: 60px;
				    left: inherit;
					}
					}
					.avatar{
						text-align: right;
						span{
							margin-left: 0;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}
.dilivery{
	background: #F0F0E6;
	padding: 40px 27px;
	margin-bottom: 10px;
	.top-banner{
		margin-bottom: 230px;
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.text{
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 40px;
		/* or 167% */
		text-align: center;

		color: #333333;
		span{
			color: #CE2323;
			font-size: 36px;
		}
	}
	.ct{
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 28px;
		/* or 175% */
		margin-top: 10px;
		color: #333333;
	}
	.img-price{
		img{
			margin-top: 8px;
		}
	}
	.box{
		margin-top: 10px;
		position: relative;
		.ab{
	    position: absolute;
	    width: 275px;
	    height: 90px;
	    top: 47.5%;
	    margin-top: -45px;
	    left: 50%;
	    margin-left: -135px;
			p{
				text-align: center;
				margin-bottom: 10px;
				font-size: 16px;
			}
		}
	}
	&.v2{
		background: #003064;
		.text{
			color: #fff;
			text-align: left;
			span{
				color: #F1DB00;
			}
		}
		.ct{
			color: #fff;
		}
	}
}
.faq{
	margin-bottom: 10px;
	.md-title{
		h3{
			color: #333333;
			&:before{
				display: none;
			}
		}
	}
	.md-faq{
		padding: 0 20px;
		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
			li.a{
				display: none;
				background: #F0F0E6;
				padding: 20px 55px;
				padding-right: 20px;
				position: relative;
				.ct{
					font-style: normal;
					font-size: 16px;
					line-height: 28px;
					/* or 150% */

					color: #333;
					p{
						margin-bottom: 0;
					}
				}
				.tt{
					position: absolute;
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 30px;
					/* or 150% */

					color: #333;
					top: 19px;
					left: 20px;
				}
			}
			li.q{
				background: #003064;
				height: 100px;
				padding: 20px 55px;
				padding-right: 80px;
				position: relative;
				.ct{
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 30px;
					/* or 150% */

					color: #FFFFFF;
				}
				.tt{
					position: absolute;
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 30px;
					/* or 150% */

					color: #FFFFFF;
					top: 19px;
					left: 20px;
				}
				span{
					position: absolute;
					top: 50px;
					right: 18px;
					cursor: pointer;
				}
			}
		}
	}
}
.table{
	background: #333333;
	padding-bottom: 40px;
	margin-bottom: 0;
	.md-title{
		h3{
			color: #fff;
			&:before{
				display: none;
			}
		}
	}
	.table-ct{
		padding: 0 30px;
		display: flex;
  	flex-direction: column;
  	.item{
  		border-bottom: 1px solid #fff;
  		padding: 12px 0;
  		padding-bottom: 14px;
  		display: flex;
  		flex-direction: row;
  		.left{
  			font-style: normal;
				font-weight: 500;
				font-size: 20px;
				width: 140px;
				line-height: 30px;
				/* identical to box height, or 150% */

				color: #FFFFFF;
  		}
  		.right{
  			font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
				/* identical to box height, or 150% */

				color: #FFFFFF;
  		}
  	}
	}
}
.main{
	overflow: hidden;
	position: relative;
  max-width: 390px;
  margin: 0 auto;
}
.md-title-sub{
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
	.sub-title{
		width: 224px;
		height: 50px;
		background: #003064;
		position: relative;
		display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: center;
		img{
			position: absolute;
			top: 0;
			left: 0;
		}
		h4{
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 35px;
			color: #fff;
		}
	}
}
.home-section{
	
}
.button-scroll{
	position: relative;
	text-align: center;
	margin-top: 20px;
	span{
		cursor: pointer;
		border: 1px solid #333;
		opacity: 0.5;
		border-radius: 20px;
		display: inline-block;
		padding: 15px 15px;
		transition: all 0.3s;
	    width: 30px;
	    height: 50px;
	    border-radius: 50px;
	    box-sizing: border-box;
	    position: relative;
	    &:before{
	    	position: absolute;
		    top: 10px;
		    left: 50%;
		    content: '';
		    width: 6px;
		    height: 6px;
		    margin-left: -3px;
		    background-color: #222;
		    border-radius: 100%;
		    -webkit-animation: sdb10 2s infinite;
		    animation: sdb10 2s infinite;
		    box-sizing: border-box;
	    }
		&:hover{
			opacity: 1;
			transition: all 0.3s;
		}
	}
}
.local-scroll{
	a{
		margin-right: 15px;
	}
}
.button-next{
    color: #fff !important;
    background: #60CBB1;
    padding: 0px 30px !important;
  	z-index: 9;
  	position: relative;
  	border-radius: 30px;
  	transition: all 0.3s;
  	text-decoration: none;
  	text-transform: none;
  	display: inline-block;
  	font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 50px;
    &:hover{
    	background: #4fa993;
    	transition: all 0.3s;
    	text-decoration: none;
    }
}
.section-about{
	
}
.section-job{
	
}
.img-note{
	
}
footer{
	background: #AD0000;
	padding: 30px;
	padding-bottom: 100px;
	.f-logo{
		display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: space-between;
	  align-items: center;
	  .right{
	  	font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			/* or 138% */
			text-align: center;

			color: #FFFFFF;
	  }
	}
	.call{
		display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: center;
	  align-items: center;
	  font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 35px;
		/* identical to box height */
		text-align: center;

		color: #FFFFFF;
		margin-top: 20px;
		a{
			color: #FFFFFF;
		}
	}
}
.fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
}

// mobile
@media (max-width: 1435px) {
  
  
}
@media (max-width: 1200px) {
  
}
@media (max-width: 1024px) {
  
}
@media (max-width: 800px) {
  
}
@media (max-width: 690px){
    
}
@media (max-width: 600px) {
  
}
@media (max-width: 500px) {
  
}
@media (max-width: 425px) {
  
}
@media (max-width: 400px) {
  
}
@media (max-width: 360px){
  
}
@media (max-width: 320px) {
  
}
@media (min-width: 768px) and (max-width: 1380px) {
	
}

@media only screen and (max-width: 980px) {
	
}
@media only screen and (max-width: 768px) {
	
}


